PORT=5000
NODE_ENV=development
MONGO_URI= put yor MONGO_URI
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
IBM_GRANITE_API_KEY=your_ibm_granite_api_key
IBM_GRANITE_API_URL=https://us-south.ml.cloud.ibm.com/ml/v1/text/generation?version=2023-05-29
CLOUDINARY_API_KEY=your_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_API_KEY